{% extends 'base.html' %}

{% block content %}
<h1>Book summarization with NLP</h1>
<p>
    This is a simple showcase of <a href="https://github.com/brmdv/usecase-summarization">my exploration</a>
    into automatic summarization of texts, using state-of-the-art NLP models. In particular, this is an attempt
    to summarize books, which must be the most difficult usecase for automatic summarization.
</p>
<p>
    The books are sourced from <a href="https://www.gutenberg.org/">Project Gutenberg</a> and are therefore in
    the public domain.
</p>

<hr>
<h2>Try out</h2>
<p>
    Select a predownloaded book to try out.
</p>
<form action="summarize" , method="GET">
    <p>
        <select name="book" id="book_select">
            {% for book in books %}
            <option value="{{ book.id }}">{{ book.title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Summarize</button>
    </p>
</form>
<hr>
<h2>Choose your own book</h2>
<p>
    Enter the link to a valid Project Gutenberg book.
</p>
<form action="/summarize" method="get">
    <p>
        <label for="gutlink">URL</label>
        <input type="url" name="url" id="gutlink" placeholder="https://www.gutenberg.org/files/1661/1661-h/1661-h.htm"
            style="width: 100%"><button type="submit">Summarize</button>
    </p>
</form>
<hr>
<h2>Text input</h2>
<p>
    Fill in your own text to summarize.
</p>
<form action="/summarize" method="post">
    <p>
        <label for="textinput">Story</label>
        <textarea name="text" id="textinput" rows="20"></textarea>
        <button type="submit">Summarize</button>
    </p>
</form>
{% endblock %}