<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📗</text></svg>">
    <title>Book summarization</title>
</head>

<body>
    <div class="content">
        <h1>Book summarization with NLP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis velit impedit odio eos aut earum aperiam
            quas temporibus odit suscipit officia, veniam perspiciatis laudantium minima hic libero. Veritatis, illum
            aspernatur?</p>

        <hr>
        <h2>Try out</h2>
        <p>
            Select a predownloaded book to try out.
        </p>
        <form action="summarize" , method="GET">
            <p>
                <select name="book" id="book_select">
                    {% for book in books %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Summarize</button>
            </p>
        </form>
        <hr>
        <h2>Choose your own book</h2>
        <p>
            Enter the link to a valid Project Gutenberg book.
        </p>
        <form action="/summarize" method="get">
            <p>
                <label for="gutlink">URL</label>
                <input type="url" name="url" id="gutlink"
                    placeholder="https://www.gutenberg.org/files/1661/1661-h/1661-h.htm" style="width: 100%"><button
                    type="submit">Summarize</button>
            </p>
        </form>
        <hr>
        <h2>Text input</h2>
        <p>
            Fill in your own text to summarize.
        </p>
        <form action="/summarize" method="post">
            <p>
                <label for="textinput">Story</label>
                <textarea name="text" id="textinput" rows="20"></textarea>
                <button type="submit">Summarize</button>
            </p>
        </form>
    </div>

</body>

</html>