{% extends 'base.html' %}
{% block content %}
<h1>Summary of <br><span class="title">{{ book.title }}</span> – <span class="author">{{ book.author }}</span></h1>
<details>
    <summary><b>Chapters</b> ({{book.chapters|length}})</summary>
    <ul>
        {% for chapter in book.chapters %}<li>
            {{chapter}}</li> {% endfor %}</ul>
</details>
<details>
    <summary><b>Technical details</b></summary>
    <table>
        {% for key in info %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ info[key] }}</td>
        </tr>
        {% endfor %}
    </table>
</details>
<h2>Results</h2>
<h3>Main characters</h3>
<table>
    <thead>
        <tr>
            <th>Character name</th>
            <th>How often mentioned in text?</th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Story summary</h3>
<p style="font-style: italic;">
    Not implemented.
</p>
{% endblock %}